*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}
body{
    background-color: hsl(217, 54%, 11%);
}
.main{
    /* margin: auto; */
    width: 24vw;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 18px;
    position: absolute;
    left: 37.84%;
    top: 45px;
}
.equilibrium{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    margin: auto;
}
.eqi-text{
    color: #fff;
    font-weight: 400;
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
}
.paragragh{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 16px;
    margin-top: 16px;
}

/* info */
.info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}
.side{
    display: flex;
    align-items: center;
}
.ethereum h3{
    font-weight: 600;
    color: hsl(178, 100%, 50%);
    margin-left: 7px;
    font-size: 18px;
}
.clock h3{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-left: 7px;
    font-size: 16px;
}

/* profile */
.profile{
    display: flex;
    align-items: center;
    margin: 15px 0 5px;
}
.profile h3{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    margin-left: 16px;
    font-size: 16px;
}
.dp{
    width: 35px;
    border: 1.5px solid #fff;
    border-radius: 50%;
}
.name{
    color: #fff;
    cursor: pointer;
}

/* ACTIVE STATES */
.eqi-text:hover{
    color: hsl(178, 100%, 50%);
}
.name:hover{
    color: hsl(178, 100%, 50%);
}


/* MOBILE SCREEN STYLING */
@media(max-width: 500px){
    .main{
        width: 90%;
        margin: auto;
        padding: 25px;
        position: absolute;
        top: 38px;
        left: 19px;
    }
    .paragragh{
        font-size: 18px;
        line-height: 1.5;
    }
    .profile{
        margin-top: 22px;
    }
    .profile h3{
        font-size: 18px;
    }
}